*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat',sans-serif;
  }

  body {
    background-color: rgb(182, 228, 186);
    }

/*Navigasi*/
nav{
  background: rgb(6, 119, 49);
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #4ce459;
  opacity: 0;
  
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

nav ul li.site{
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

nav ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
}
nav ul li:hover a{
  color: #4ce459;
}
nav ul li i{
  font-size: 23px;
}
#active {
    background-color: rgb(22, 100, 26);
    padding: 15px;
    margin: 0;
}

#login{
	position: absolute;
	top: 240px;
	left: 40%;
	background-color: #fff;
	width: 350px;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 20px;
}

#login h2{
	margin: 0 0 20px; 
	width: 100%;
	margin-bottom: 25px;
}

#login .input-group{
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

#login .input-group input{
	height: 50px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 18px;
	border: 3px solid black;
	border-radius: 10px;
}

#login .input-group span{
	position: absolute;
	top: 12px;
	left: 20px;
	padding: 0px;
	text-transform: capitalize;
	background-color: #fff;
	
}

#login .input-group input:focus ~ span,
#login .input-group input:valid ~ span{
	top: -12px;
	left: 20px;
	font-size: 12px;
	background-color:white;
	padding: 2px 4px;
	border: 1px solid #000;
	border-radius: 5px;

}

#login .input-group input[type="submit"]{
	background-color: rgb(6, 119, 49);
	color: white;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	width: 35%;
	transition: 0.5s;
}

#login .input-group input[type="submit"]:hover{
	width: 100%;
	background-color: rgb(6, 119, 49);
	color: #fff;
}

form .false{
background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}

footer {
    color:white;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    left: 0;
    padding: 0;
    background-color: rgb(6, 119, 49);
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
}